<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.fifth.prac.VO.Admin" alias="Admin" />
		<typeAlias type="com.fifth.prac.VO.Customer" alias="Customer" />
		<typeAlias type="com.fifth.prac.VO.Product" alias="Product" />
		<typeAlias type="com.fifth.prac.VO.Sold" alias="Sold" />
		<typeAlias type="com.fifth.prac.VO.BuyList" alias="BuyList" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/AdminMapper.xml" />
		<mapper resource="mapper/CustomerMapper.xml" />
		<mapper resource="mapper/ProductMapper.xml" />
		<mapper resource="mapper/SoldMapper.xml" />
	</mappers>
</configuration>
